html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #000000 url(../image/loading.gif) center center no-repeat;
    color: #ffffff;
    font-size: 13px;
    line-height: 20px;
    height: 100%;
    overflow:hidden;
}

#hourContainer {
    position: fixed;
    left:50%;
    bottom: 0px;
    height:50px;
    background:url('../image/indicator.png') center 10px no-repeat;
}

#hourBox {
    position: absolute;
    bottom: 100%;
    left: 0;
    padding: 10px 0px 20px;
    cursor: pointer;
    display: none;
    width: 100%;
}

#hourBar{
    position: fixed;
    bottom: 30px;
    width: 86%;
    left: 7%;
    height: 1px;
    background: gray;
    display: none;
}
@media screen and (min-width:1500px){
    #hourBar{
        width: 1300px;
        left: 50%;
        margin-left: -650px;
    }
}
#hourProcess{
    position: relative;
    height: 100%;
    background: white;
    width: 0%;
}
#hourProcess:after{
    content: '';
    position: absolute;
    border: 5px solid transparent;
    border-top-color: white;
    top: -5px;
    right: -5px;
}
#hourProcess:before{
    content: '';
    right: -5px;
    top: -3px;
    position: absolute;
    border: 5px solid transparent;
    border-bottom-color: white;
}
#playBtn{
    position: absolute;
    cursor: pointer;
    left: -50px;
    top: -9px;
}
#playTime{
    position: absolute;
    right: -40px;
    top: -9px;
}

.cover-left , .cover-right{
    position: absolute;
    bottom: 50px;
    height: 43px;
    width: 45%;
    left: 0;
    
    background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 91%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(91%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 91%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 91%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 91%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 91%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}
.cover-right{
    right: 0;
    left: auto;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(9%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 9%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 9%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 9%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 9%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */

}

.hour {
    font: 12px;
    line-height: 26px;
    height: 30px;
    text-align: center;
    float: left;
    width: 4.16%;
    color: #aaa;
    -webkit-transition: all 0.1s ease-out;
}
.hour:first-child{
    margin-left: -2.08%;
}
.hour:last-child{
    margin-right: -2.08%;
}

.hour:hover,.hour.active {
    color: #fff;
}