.nav{left:0px;top:86px;}
.navicon {margin-left:27px;margin-bottom:28px;}
.post_link span {left:84px;}
.stand{width: 1030px;left: 220px;margin-left:0;}
.teambuild_member {height:78px;}
.member_item {width: 220px;height:45px;}
.member_item img {width:45px;}
.member_name{width: 150px;padding-top:14px;}
body .member_speed{margin-left:50px!important;margin-top:-12px;}
.memeber_space {font-size:38px;}
.member_add {width:220px;height:45px;line-height:45px;}
.member_add span {margin-top:4px;}
#team-score {left:310px;}
.stand_useritem {margin-bottom: 25px;}
.stand {top:32px;}
.stand_tweetitem{padding:0 20px;}
.stand_add{right:20px;top:30px;left:auto;}
.stand_del {left:170px!important;top:30px!important;}
.stand_chart{width: 380px;height:380px;background-size: cover}
.stand_chart_score {font-size:24px;left:12px;}
.team_name,.stand_tit {font-size:24px;}
.stand_tit {width:1031px;height:60px;}
.stand_achivments {padding:0;font-size:18px;margin-top:-20px;}
.stand_tweet {padding-top:0px;}
.stand_tweet h2 {font-size:24px;}
.stand_posts {width:645px!important;}
.stand_achivmentsbox {width:281px!important;margin-right:45px!important;}

.winners-icon {width:315px;height:300px;}

.post_tips {left:90px;bottom:3px;}
.post_tips span {top:10px!important;left:5px!important;}
.stand_tit .stand_chart_tip {bottom:-15px;}

.count .conut_down_wrap {margin-left:-450px;}
.stand_tweet .conut_down_wrap {margin-left:-205px;margin-top:18px;}

.popup_invite .friend_item .name {width:150px;}
.popup_invite .popup_close {right:17px;}

.conut_tips{font-size: 17px;margin:0 auto;margin-top:50px;width:939px;}
.count .home_share {margin-top:198px;}
.count .home_winners {margin-top:247px;}