@charset "utf-8";



.clearfix:before, .clearfix:after {
    visibility:hidden;
    display:table;
    font-size:0;
    content:" ";
    height:0;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom:1; 
}

.member-leave {
  cursor: pointer;
}

.tweet-con .tweet-list {
  width: 80%;
  margin: auto;
}

.tweet-con .tweet-list .item {
  float:left;
  width: 24%;
  margin-right: 1%;
}

.tweet-con .tweet-list .item:last-child {
  margin-right: 0px;
}

.tweet-con .tweet-list .item .avatar {
  width: 45%;
  margin-right: 5%;
  float: left;
}

.tweet-con .tweet-list .item .avatar img{
  width: 100%;
}

.tweet-con .tweet-list .item .desc {
  width: 50%;
  float: left;
}

.tweet-con .tweet-list .item .desc.no-media {
  width: 100%;
  float:none;
}

.lpn_panel_panel.popup {
}

.lpn_panel_panel.popup .lpn_wrapper {
width: 100%;
border: 1px solid #ee0000;
background: #000;
-webkit-box-shadow: none;
-moz-border-radius: none;
-moz-box-shadow: none;
-o-box-shadow: none;
-ms-box-shadow: none;
}

.lpn_panel_panel.popup .lpn_wrapper .lpn_canvas {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.lpn_panel_panel.popup .lpn_wrapper .lpn_canvas textarea {
  width: 80%;
border: 1px solid #ee0000;
height: 100px;
padding: 5%;
margin: auto 25px 0px auto;
display: block;
background: #000;
color: #fff;
font-size: 2em;
font-weight: bold;
resize: none;
}

.lpn_panel_panel.popup .lpn_wrapper .lpn_canvas textarea:focus {
border: 1px solid #ee0000;
outline: none !important;
}

.lpn_panel_panel.popup .lpn_wrapper  .ft {
  margin-top: 38px;
  margin-bottom: 38px;
  background: #000;
}

.lpn_panel_panel.popup .lpn_wrapper  .ft button {
  border: 1px solid #ee0000;
  background: #ee0000;
  color: #fff;
}


.popup_fuel{width: auto;}
.popup_fuel_video .video-js{margin-bottom: 30px;}
.stand_posts{width: 600px;height: 58px;float: left;overflow: hidden;}
.stand_achivmentsbox{width: 300px;padding:0;}

.popup_close {cursor: pointer; background: url('../images/fuel_close.png') no-repeat;width:50px;height:50px;position:absolute;right:0px;top:0px;}

.popup_invite .popup_invite_btns{margin-top: 0;}
.popup_invite .popup_error{height: 50px;line-height: 50px;color: red;font-size: 24px;}





