@charset "utf-8";



.clearfix:before, .clearfix:after {
    visibility:hidden;
    display:table;
    font-size:0;
    content:" ";
    height:0;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom:1; 
}

.member-leave {
  cursor: pointer;
}

.tweet-con .tweet-list {
  width: 80%;
  margin: auto;
}

.tweet-con .tweet-list .item {
  float:left;
  width: 24%;
  margin-right: 1%;
}

.tweet-con .tweet-list .item:last-child {
  margin-right: 0px;
}

.tweet-con .tweet-list .item .avatar {
  width: 45%;
  margin-right: 5%;
  float: left;
}

.tweet-con .tweet-list .item .avatar img{
  width: 100%;
}

.tweet-con .tweet-list .item .desc {
  width: 50%;
  float: left;
}

.tweet-con .tweet-list .item .desc.no-media {
  width: 100%;
  float:none;
}

.lpn_panel_panel.popup {
}

.lpn_panel_panel.popup .lpn_wrapper {
width: 100%;
border: 1px solid #ee0000;
background: #000;
-webkit-box-shadow: none;
-moz-border-radius: none;
-moz-box-shadow: none;
-o-box-shadow: none;
-ms-box-shadow: none;
}

.lpn_panel_panel.popup .lpn_wrapper .lpn_canvas {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.lpn_panel_panel.popup .lpn_wrapper .lpn_canvas textarea {
  width: 80%;
border: 1px solid #ee0000;
height: 100px;
padding: 5%;
margin: auto 25px 0px auto;
display: block;
background: #000;
color: #fff;
font-size: 2em;
font-weight: bold;
resize: none;
}

.lpn_panel_panel.popup .lpn_wrapper .lpn_canvas textarea:focus {
border: 1px solid #ee0000;
outline: none !important;
}

.lpn_panel_panel.popup .lpn_wrapper  .ft {
  margin-top: 38px;
  margin-bottom: 38px;
  background: #000;
}

.lpn_panel_panel.popup .lpn_wrapper  .ft button {
  border: 1px solid #ee0000;
  background: #ee0000;
  color: #fff;
}

.member-leave{display: none;}

.stand_del{position: absolute;left:227px;top: 43px;cursor: pointer;}
.stand_del.disabled{display: none;}
.stand_add.disabled{display: none;}

#legal-notice{position: fixed;z-index:100;top: 80px; bottom: 0; width: 100%; background:url(../images/bg_legal.jpg) no-repeat center top fixed ; background-size:cover; display: none;}
#legal-notice h2{text-align: center;font-size: 30px;padding: 80px 30px;color:#fff;}
#legal-notice .popup_close {right:20px;top:20px;}
.legal-con{ padding: 20px 0px; position: absolute;width: 100%; top: 140px; bottom: 50px; overflow: auto; font-size: 16px;line-height: 150%;color:#ddd;}
.legal-con .intro {font-size:18px;}
.legal-left{float: left; width: 35%;margin-right: 6%;margin-left: 12%;}
.legal-right{float: left; width: 35%;}

#winners-prizes {overflow: auto; position: fixed;display:none;z-index:100;top: 80px; bottom: 0; width: 100%; background:url(../images/bg_winner_prizes.jpg) no-repeat center top fixed ; background-size:cover; text-align: center;}
#winners-prizes h2{text-align: center;font-size: 36px;padding: 40px 30px;color: #fff;}
#winners-prizes .popup_close {right:20px;top:20px;}
.winners-icon {width: 50%;max-width: 355px;}
.winners-prizes-con { margin:30px auto 0 auto;font-size:18px;width: 90%;max-width:1100px;text-align:center;line-height: 150%;color:#fff;}


#share{float: left;padding: 0 6px;position: relative;cursor: pointer;}
.share-btns{position:absolute; display:none;left: 100%; top: 0px; overflow: hidden;margin-top: -4px;width: 0;height: 33px;}
.ie8 .share-btns{background:url(about:blank);}
.share-btns a{display: inline-block; width: 33px;height: 33px;background: url(../images/share.png) no-repeat;margin: 0 5px;}
.share-btns a.i-sina{background-position: -226px -44px;}
.share-btns a.i-fb{background-position: 0 -44px;}
.share-btns a.i-tw{background-position: -45px -44px;}
.share-btns a.i-g{background-position: -90px -44px;}
.share-btns a.i-in{background-position: -135px -44px;}
.share-btns a.i-p{background-position: -180px -44px;}
.share-btns a.i-sina:hover{background-position: -226px -1px;}
.share-btns a.i-fb:hover{background-position: 0 -1px;}
.share-btns a.i-tw:hover{background-position: -45px -1px;}
.share-btns a.i-g:hover{background-position: -90px -1px;}
.share-btns a.i-in:hover{background-position: -135px -1px;}
.share-btns a.i-p:hover{background-position: -180px -1px;}

#home_video{top:80px;}

.popup_fuel{width: auto;}
.popup_fuel_video .video-js{margin-bottom: 30px;}
.stand_posts{width: 600px;height: 58px;margin-left:118px;float: left;overflow: hidden;}
.stand_achivmentsbox{width: 260px;padding:0;margin-right:85px;}

.popup_close {cursor: pointer;width:34px;height:34px;background:url('../images/callto_close.png') no-repeat center;color:#fff;line-height:50px;border:2px solid #fff;position:absolute;right:0px;top:0px;border-radius: 80px;-webkit-border-radius: 80px;-moz-border-radius: 80px;-o-border-radius: 80px;-ms-border-radius: 80px;}
.ie8 .popup_close{background: url(../images/panel_close.png) no-repeat 0 0 ;border:none;}
.popup_close:hover {background:url('../images/callto_close_2.png') no-repeat center;transform:rotate(90deg); -ms-transform:rotate(90deg); -webkit-transform:rotate(90deg); border:2px solid #ff0000;}
.ie8 .popup_close:hover{background: url(../images/panel_close.png) no-repeat 0 -34px ;border: none;}

.popup_invite .popup_invite_btns{margin-top: 0;}
.popup_invite .popup_error{height: 35px;line-height: 35px;color: red;font-size: 16px;}


.footer-icon{position: absolute;height: 23px;width: 20px; left: 2px; top:0;display: none;}
.footer_link{background: none;}
body[data-page="stand"] .footer_link{background: url('../images/footer_link.png') no-repeat;}
body[data-page="stand"] .footer-icon{display: block;}



.tutr-step{display: none;position: relative;z-index: 5;}
.tutr-step-top,.tutr-step-left,.tutr-step-right,.tutr-step-bottom{background: black; opacity: 0.6;position: absolute;filter: alpha(opacity=60);}
.tutr-step .step-con{margin: 25px 0;}
.tutr-step .step-con .color {color:#ff0000;}
.tutr-step-tip1{display: none;position: absolute;top: 180px;background: black;left: 765px;width: 263px;padding: 30px;height: 252px;border-radius: 5px;font-size: 16px;line-height: 1.4em;}
.tutr-step-tip1 .step-btn{position: absolute;bottom: 30px;right: 40px;}

.tutr-step-tip2{display: none;position: absolute;top: 183px;background: black;left: 765px;width: 276px;padding: 40px;height: 274px;border-radius: 5px;font-size: 17px;line-height: 1.4em;}
.tutr-step-tip2 .step-btn{position: absolute;bottom: 30px;right: 40px;}

.tutr-step-tip3{display: none;position: absolute;top: 320px;background: black;left: 0;width: 460px;padding: 40px;border-radius: 5px;font-size: 17px;line-height: 1.4em;}
.tutr-step-tip3 .step-btn{position: absolute;bottom: 20px;right: 40px;}
.tutr-step-tip3 .step-con-tit{text-decoration: underline;}

.tutr-step-tip4{display: none;position: absolute;top: 320px;background: black;left: 0;width: 460px;padding: 40px;border-radius: 5px;font-size: 17px;line-height: 1.4em;}
.tutr-step-tip4 .step-btn{position: absolute;bottom: 20px;right: 40px;}

.conut_tit span{font-size: 90px;}
.count-unit{margin-right: 20px;font-size: 72px;float: left;height: 70px;margin-top: 45px;line-height: 70px;overflow: hidden;display: inline;opacity: 0.3;filter: alpha(opacity=30);}


.conut_watch{background: none;}


/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
  overflow: hidden;
  position: relative;
}

.jspPane
{
  position: absolute;
}

.jspVerticalBar
{
  position: absolute;
  top: 10px;
  right: 0;
  width: 11px;
  height: 100%;
}

.jspHorizontalBar
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
}

.jspCap
{
  display: none;
}

.jspHorizontalBar .jspCap
{
  float: left;
}

.jspTrack
{
  position: relative;
}

.jspDrag
{
  background: #606060;
  width: 11px;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
  float: left;
  height: 100%;
}

.jspArrow
{
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.jspArrow.jspDisabled
{
  cursor: default;
  background: #80808d;
}

.jspVerticalBar .jspArrow
{
  height: 16px;
}

.jspHorizontalBar .jspArrow
{
  width: 16px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
  outline: none;
}

.jspCorner
{
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
  margin: 0 -3px 0 0;
}

