@charset "utf-8";



.clearfix:before, .clearfix:after {
    visibility:hidden;
    display:table;
    font-size:0;
    content:" ";
    height:0;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom:1; 
}

.member-leave {
  cursor: pointer;
}

.tweet-con .tweet-list {
  width: 80%;
  margin: auto;
}

.tweet-con .tweet-list .item {
  float:left;
  width: 24%;
  margin-right: 1%;
}

.tweet-con .tweet-list .item:last-child {
  margin-right: 0px;
}

.tweet-con .tweet-list .item .avatar {
  width: 45%;
  margin-right: 5%;
  float: left;
}

.tweet-con .tweet-list .item .avatar img{
  width: 100%;
}

.tweet-con .tweet-list .item .desc {
  width: 50%;
  float: left;
}

.tweet-con .tweet-list .item .desc.no-media {
  width: 100%;
  float:none;
}

.lpn_panel_panel.popup {
}

.lpn_panel_panel.popup .lpn_wrapper {
width: 100%;
border: 1px solid #ee0000;
background: #000;
-webkit-box-shadow: none;
-moz-border-radius: none;
-moz-box-shadow: none;
-o-box-shadow: none;
-ms-box-shadow: none;
}

.lpn_panel_panel.popup .lpn_wrapper .lpn_canvas {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.lpn_panel_panel.popup .lpn_wrapper .lpn_canvas textarea {
  width: 80%;
border: 1px solid #ee0000;
height: 100px;
padding: 5%;
margin: auto 25px 0px auto;
display: block;
background: #000;
color: #fff;
font-size: 2em;
font-weight: bold;
resize: none;
}

.lpn_panel_panel.popup .lpn_wrapper .lpn_canvas textarea:focus {
border: 1px solid #ee0000;
outline: none !important;
}

.lpn_panel_panel.popup .lpn_wrapper  .ft {
  margin-top: 38px;
  margin-bottom: 38px;
  background: #000;
}

.lpn_panel_panel.popup .lpn_wrapper  .ft button {
  border: 1px solid #ee0000;
  background: #ee0000;
  color: #fff;
}

.member-leave{display: none;}

.stand_del{position: absolute;right: 58px;top: 592px;cursor: pointer;}


#legal-notice{position: fixed;top: 80px; bottom: 0; width: 80%; margin: 0 10%; background: rgba(0,0,0,.5); display: none;}
#legal-notice h2{text-align: center;font-size: 30px;padding: 30px;}
#share{float: left;padding: 0 6px;position: relative;}
.share-btns{position:absolute; left: 100%; top: 0px; overflow: hidden;margin-top: -4px;width: 0;height: 33px;}
.share-btns a{display: inline-block; width: 33px;height: 33px;background: url(../images/share.png) no-repeat;margin: 0 5px;}
.share-btns a.i-fb{background-position: 0 -44px;}
.share-btns a.i-tw{background-position: -45px -44px;}
.share-btns a.i-g{background-position: -90px -44px;}
.share-btns a.i-in{background-position: -135px -44px;}
.share-btns a.i-p{background-position: -180px -44px;}
.share-btns a.i-fb:hover{background-position: 0 -1px;}
.share-btns a.i-tw:hover{background-position: -45px -1px;}
.share-btns a.i-g:hover{background-position: -90px -1px;}
.share-btns a.i-in:hover{background-position: -135px -1px;}
.share-btns a.i-p:hover{background-position: -180px -1px;}

#home_video{top:80px;}

.popup_fuel{width: auto;}
.popup_fuel_video .video-js{margin-bottom: 30px;}
.stand_posts{width: 600px;height: 58px;float: left;overflow: hidden;}
.stand_achivmentsbox{width: 300px;padding:0;}

.popup_close {cursor: pointer; background: url('../images/fuel_close.png') no-repeat;width:50px;height:50px;position:absolute;right:0px;top:0px;}

.popup_invite .popup_invite_btns{margin-top: 0;}
.popup_invite .popup_error{height: 50px;line-height: 50px;color: red;font-size: 24px;}



.tutr{position: absolute;top: 0px;bottom:0;width: 100%; height: 762px;display: none;}
.tutr-step1-top{height: 100px;background: black; opacity: 0.5;}



