<IfModule mod_rewrite.c>
  RewriteEngine On
  #RewriteCond %{REQUEST_FILENAME} !-f
  #RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule index.html api/index.php/html/index/index [L,QSA]
  RewriteRule countdown.html api/index.php/html/index/countdown [L,QSA]
  RewriteRule fule.html api/index.php/html/index/fule [L,QSA]
  RewriteRule race.html api/index.php/html/index/race [L,QSA]
  RewriteRule ^(.*)\.html api/index.php/html/index/$1 [L,QSA]
</IfModule>
